* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Services classes */
    .border-black {
        border: 1px solid black;
    }

    .border-red {
        border: 1px solid red;
    }

    .border-blue {
        border: 1px solid blue;
    }

    .w-100 {
        width: 100%;
    }
/* Services classes */

/* Flex */

/* Flex */

/* Colors */
    .bk-blue {
        background-color: #3A546D;
    }

    .bk-dk-blue {
        background-color: #2C3E50;
    }

    .bk-green {
        background-color: #1ABC9C;
    }

    .bk-white {
        background-color: white;
    }

    .bk-black {
        background-color: black;
    }

    .cl-white {
        color: white;
    }

    .cl-black {
        color: black;
    }

    .cl-dk-blue {
        color: #2C3E50;
    }
/* Colors */

/* Headings */
    h1 {
        font-size: 2.5rem;
        font-weight: 600;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }
/* Headings */

/* Divosor */
    .line {
        height: .3rem;
        width: 7rem;
        border-radius: 2rem;
    }

    .divisor i {
        margin: 0 .5rem;
    }
/* Divosor */

/* Jumbotron */
    #avatar {
        max-width: 390px;
    }
/* Jumbotron */

/* Card */
    .card img {
        border-radius: 5px;
    }
/* Card */